# kdevelop
*kdev*

# qt-creator
qtc-*
*.user
# windows
*.dll

# qt
.moc
qrc_*
*qm
*.Debug
*.Release

#products
Makefile*
Doxyfile
doxygen/*
tags
.obj

# release
Changelog*
diffstat*

# project
boats
boats.exe
*xbs

